* {
	box-sizing: border-box;
}

/* CLEAR FLOATS */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* TYPE SELECTORS */
body {
    font-size: 1em;
}
img {
    width: 100%;
}
h2 {
    margin: 10% 0;
}
h4 {
    margin-top: 20%;
    margin-bottom: 20%;
}
main h3 {
    margin-top: 10%;
}
a {
    text-decoration: none;
    display: block;
    width: 100%;
}
a:link {
    color: black;
}
a:visited {
    color: pink;
}
a:hover {
    color: rgb(21, 63, 155);
}
p {
    font-size: 0.95em;
    line-height: 1.5em;
}

header img {
   padding: 0 14%;
}



footer {
    margin-top: 20%;
}

/* ----------- CLASS SELECTORS --------- */

.center-content {
    margin: 0 5%;
    text-align: center;
}

/* HEADER SECTION */
.header-nav a {
    height: 43px;
    padding: 5% 0;
    font-weight: bold;
}
.header-nav {
    margin-bottom: 20%;
}
.header-nav li {
    margin: 2% 0;
    background-color: antiquewhite;
}
/* MAIN SECTION */
.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six {
    margin: 12% 0;
}


/* FOOTER SECTION */

#contact {
    margin-bottom: 10%;
}
#phone {
    margin-top: 10%;
}
#phone,
#email {
    font-size: 1em;
}
#phone span,
#email span {
    font-weight: bold;
}
.nav-big-devices {
    display: none;
}
.nav-big-devices li {
    display: inline-block;
}
.nav-mobile {
    display: block;
    width: 29%;
    margin-top: 7%;
}
.nav-mobile li {
    font-size: 0.80em;
}
.nav-big-devices,
.nav-mobile {
    float: right;
    font-weight: bold;
}
#studentName {
    float:left;
    font-weight: bold;
    margin-top: 7%;
    margin-bottom: 0;
}
.bottom-footer {
    font-size: 0.95em;
    margin: 20% 0 10% 0;
    border-top: rgb(206, 204, 204) 1px solid;
}


/* FOR DEVICES TABLET DEVICES */
@media (min-width: 768px) {
    /* body {
        font-size: 1em;
    } */
    /* Header section */
    h2 {
        margin: 10% 0 3% 0;
    }
    .header-nav {
        margin-bottom: 8%;
    }
    .header-nav li {
        display: inline-block;
        width: 27%;
        margin: 2% -1%;
    }
    header img {
        padding: 0 0;
        float: right;
        width: 284px;
        margin-left: 12px;
    }
    header p {
       text-align: left;
    }

    /* Main section */

    h4 {
        margin-bottom: 3%;
    }
    main h3 {
        margin-top: 6%;
    }
    .section-one,
    .section-two,
    .section-three,
    .section-four,
    .section-five,
    .section-six {
        width: 49%;
        margin: 4% 0;
        /* border: 1px solid green; */
    }
    .section-two,
    .section-four,
    .section-six {
        float: right;
    }
    .section-one,
    .section-three,
    .section-five {
        float: left;
    }
    main p {
        padding: 0 7%;
    }

    /* Footer section */
    footer {
        margin-top: 10%;
    }
    #contact {
        margin-bottom: 8%;
    }
    .nav-mobile {
        display: none;
    }
    .nav-big-devices {
       display: block;
       width: 43%;
       margin-top: 7%;
    }
    .nav-big-devices li {
        margin-left: 9%;

    }
}